<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
      <mat-card>
        <h6 style="color: grey;"> An application that integrates Angular, Angular Material, Bootstrap, Spring Boot, Hibernate, MySQL, <a href="http://localhost:8082/swagger-ui.html" target="_blank">Swagger</a>, Map Struct, 
          Lombok so on to demonstrate:
          <ul>
            <br/>
            <li>A form based data gathering and persisting in the database</li>
            <li>Retrieval of the data from the database and listing in the UI</li>
            <li>An API based integration with JIRA to create an issue as soon as the data is stored in the database.</li>
          </ul>
        </h6>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6">
      <mat-card>
        <a routerLink="/onboarding/register">Register</a>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6">
      <mat-card>
        <a routerLink="/onboarding/list">List</a>
      </mat-card>
    </div>
  </div>
</div>